In [ ]:
#Collect data from different sources 
#1. collect data from clipboard 
#clipboard : it is temporary memory of system , to hold current data and
#delete old one

In [1]:
import pandas as pd

In [46]:
#to read structured data from clipboard
#read_clipboard() from pandas lib inbuilt method

#IPL=pd.read_clipboard() #IPL is userdefined DataFrame object
#ipl is user defined DataFrame object onlyvfirst time 
#to read data from csv file
IPL=pd.read_csv('IPL.csv') #pd.read_cvs('Filename.csv')

In [47]:
IPL

,Unnamed: 0,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
0,0,2021,Chennai Super Kings,Kolkata Knight Riders,Dubai,8,Faf du Plessis
1,1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
3,3,2018,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,8,Shane Watson
4,4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya
5,5,2016,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,8,Ben Cutting
6,6,2015,Mumbai Indians,Chennai Super Kings,Kolkata,8,Rohit Sharma
7,7,2014,Kolkata Knight Riders,Kings XI Punjab,Bangalore,8,Manish Pandey
8,8,2013,Mumbai Indians,Chennai Super Kings,Kolkata,9,Kieron Pollard
9,9,2012,Kolkata Knight Riders,Chennai Super Kings,Chennai,9,Manvinder Bisla
10,10,2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai,10,Murali Vijay
11,11,2010,Chennai Super Kings,Mumbai Indians,Mumbai,8,Suresh Raina
12,12,2009,Deccan Chargers,Royal Challengers Bangalore,Johhanesburg,8,Anil Kumble
13,13,2008,Rajasthan Royals,Chennai Super Kings,Mumbai,8,Yusuf Pathan

In [10]:
IPL.shape #inbuilt method to show how many col and how many row in dataset

(14, 6)

In [12]:
#to show name of all col
IPL.columns #output in list datastructure

Index(['Year', 'Winner', 'Runner Up', 'Venue', 'Number of teams',
       'Player of the Match'],
      dtype='object')

In [13]:
#check null values
IPL.isnull().sum()

Year                   0
Winner                 0
Runner Up              0
Venue                  0
Number of teams        0
Player of the Match    0
dtype: int64

In [15]:
#to show all information of the dataset use inbuilt method info()
IPL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 14 non-null     int64
 1   Winner               14 non-null     object
 2   Runner Up            14 non-null     object
 3   Venue                14 non-null     object
 4   Number of teams      14 non-null     int64
 5   Player of the Match  14 non-null     object
dtypes: int64(2), object(4)
memory usage: 800.0+ bytes

In [17]:
#describe ; performs all stastics functin of numeric or int type data
IPL.describe()

            Year  Number of teams
count    14.0000        14.000000
mean   2014.5000         8.285714
std       4.1833         0.611250
min    2008.0000         8.000000
25%    2011.2500         8.000000
50%    2014.5000         8.000000
75%    2017.7500         8.000000
max    2021.0000        10.000000

In [18]:
#to show first five record
IPL.head()

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
0,2021,Chennai Super Kings,Kolkata Knight Riders,Dubai,8,Faf du Plessis
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
3,2018,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,8,Shane Watson
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya

In [19]:
#to show last 5 record
IPL.tail()

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
9,2012,Kolkata Knight Riders,Chennai Super Kings,Chennai,9,Manvinder Bisla
10,2011,Chennai Super Kings,Royal Challengers Bangalore,Chennai,10,Murali Vijay
11,2010,Chennai Super Kings,Mumbai Indians,Mumbai,8,Suresh Raina
12,2009,Deccan Chargers,Royal Challengers Bangalore,Johhanesburg,8,Anil Kumble
13,2008,Rajasthan Royals,Chennai Super Kings,Mumbai,8,Yusuf Pathan

In [21]:
#to show only winner of all match
IPL.Winner
#or
IPL['Winner']

0       Chennai Super Kings
1            Mumbai Indians
2            Mumbai Indians
3       Chennai Super Kings
4            Mumbai Indians
5       Sunrisers Hyderabad
6            Mumbai Indians
7     Kolkata Knight Riders
8            Mumbai Indians
9     Kolkata Knight Riders
10      Chennai Super Kings
11      Chennai Super Kings
12          Deccan Chargers
13         Rajasthan Royals
Name: Winner, dtype: object

In [24]:
#to show Winner but duplicate not allowed
IPL.Winner.unique()
#or
IPL['Winner'].unique()

array(['Chennai Super Kings', 'Mumbai Indians', 'Sunrisers Hyderabad',
       'Kolkata Knight Riders', 'Deccan Chargers', 'Rajasthan Royals'],
      dtype=object)

In [27]:
#winner teams with frequency
IPL['Winner'].value_counts()

Mumbai Indians           5
Chennai Super Kings      4
Kolkata Knight Riders    2
Sunrisers Hyderabad      1
Deccan Chargers          1
Rajasthan Royals         1
Name: Winner, dtype: int64

In [28]:
#all details of mumbai indians
IPL[IPL['Winner']=='Mumbai Indians'] #conditional filtering

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya
6,2015,Mumbai Indians,Chennai Super Kings,Kolkata,8,Rohit Sharma
8,2013,Mumbai Indians,Chennai Super Kings,Kolkata,9,Kieron Pollard

In [37]:
#all detailsof mumbai indians when it won in hyderabad
#using multiple conditional filter, use logical operator
#use multiple conditions in python, use logical operator
'''
1. and  in python  
2. or  in python
3. not in python

but in pandas :
for and logical operator  then use & (ampercend)
for or logical operator then use | (pipeline)
for not logical operator then use ! (exclamination)
'''
#show record whoes winner is mumbai and venue is hyderabad
IPL[(IPL['Winner']=='Mumbai Indians') & (IPL['Venue']=='Hyderabad')] 
#while passing multiple condition allways pass in parenthisis

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya

In [38]:
#all detailsof mumbai indians when it won in hyderabad
#using multiple conditional filter, use logical operator
#use multiple conditions in python, use logical operator
'''
1. and  in python  
2. or  in python
3. not in python

but in pandas :
for and logical operator  then use & (ampercend)
for or logical operator then use | (pipeline)
for not logical operator then use ! (exclamination)
'''
#show record whoes winner is mumbai or venue is hyderabad
IPL[(IPL['Winner']=='Mumbai Indians') | (IPL['Venue']=='Hyderabad')] 
#while passing multiple condition allways pass in parenthisis

,Year,Winner,Runner Up,Venue,Number of teams,Player of the Match
1,2020,Mumbai Indians,Delhi Capitals,Dubai,8,Trent Boult
2,2019,Mumbai Indians,Chennai Super Kings,Hyderabad,8,Jasprit Bumrah
4,2017,Mumbai Indians,Rising Pune Supergiants,Hyderabad,8,Krunal Pandya
6,2015,Mumbai Indians,Chennai Super Kings,Kolkata,8,Rohit Sharma
8,2013,Mumbai Indians,Chennai Super Kings,Kolkata,9,Kieron Pollard

In [40]:
#where file is getting saved
import os
os.getcwd()

'C:\\Users\\Admin\\Desktop\\Anup\\Data analitycs'

In [45]:
#saving data permanently IPL
#use inbult method of pandas ; to_csv()
IPL.to_csv('IPL.csv',index=False) # syntex: DataFrameName.to_csv('permanent file.csv')
#file gets saved in default path where jupyter is currently running