In [1]:
'''
Item	 Material	                                     Colour	 Price
 Sofa	 Wooden	                                          Maroon	 25000
 Dining Table	 Plywood	                              Yellow	 20000
 Chair	 Plastic	                                          Red	 1500
 Sofa	 Stainless Steel	                                   Silver	 55000
Wooden 	 Light                                                 Blue	 2500
 	 Aluminum	                                              Golden	 65000
 '''

'\nItem\t Material\t                                     Colour\t Price\n Sofa\t Wooden\t                                          Maroon\t 25000\n Dining Table\t Plywood\t                              Yellow\t 20000\n Chair\t Plastic\t                                          Red\t 1500\n Sofa\t Stainless Steel\t                                   Silver\t 55000\nWooden \t Light                                                 Blue\t 2500\n \t Aluminum\t                                              Golden\t 65000\n '

In [2]:
Item=["Sofa","Dining Table","Chair","Sofa","Chair","Dining Table"]
print(Item)
print(type(Item))

['Sofa', 'Dining Table', 'Chair', 'Sofa', 'Chair', 'Dining Table']
<class 'list'>

In [3]:
Material=['Wooden','Plywood','Plastic','Stainless' 'Steel','Wooden','Aluminum']
print(Material)
print(type(Material))

['Wooden', 'Plywood', 'Plastic', 'StainlessSteel', 'Wooden', 'Aluminum']
<class 'list'>

In [4]:
Colour=['Maroon','Yellow','Red','Silver','Light Blue','Golden']
print(Colour)
print(type(Colour))

['Maroon', 'Yellow', 'Red', 'Silver', 'Light Blue', 'Golden']
<class 'list'>

In [5]:
Price=[25000,20000,1500,55000,2500,65000]
print(Price)
print(type(Price))

[25000, 20000, 1500, 55000, 2500, 65000]
<class 'list'>

In [6]:
dic={'Item':Item,'Material':Material,'Colour':Colour,'Price':Price}
print(dic)
print(type(dic))

{'Item': ['Sofa', 'Dining Table', 'Chair', 'Sofa', 'Chair', 'Dining Table'], 'Material': ['Wooden', 'Plywood', 'Plastic', 'StainlessSteel', 'Wooden', 'Aluminum'], 'Colour': ['Maroon', 'Yellow', 'Red', 'Silver', 'Light Blue', 'Golden'], 'Price': [25000, 20000, 1500, 55000, 2500, 65000]}
<class 'dict'>

In [7]:
import pandas as pd
df=pd.DataFrame(dic)
df

           Item        Material      Colour  Price
0          Sofa          Wooden      Maroon  25000
1  Dining Table         Plywood      Yellow  20000
2         Chair         Plastic         Red   1500
3          Sofa  StainlessSteel      Silver  55000
4         Chair          Wooden  Light Blue   2500
5  Dining Table        Aluminum      Golden  65000

In [8]:
#display the Details of chair and sofa
df[df["Item"]=="Chair" & "Sofa"]

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [9]:
#display the Details of chair and sofa
Chair=df[df["Item"]=="Chair"]
Sofa=df[df["Item"]=="Sofa"]
print(Chair)
print(Sofa)

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500
   Item        Material  Colour  Price
0  Sofa          Wooden  Maroon  25000
3  Sofa  StainlessSteel  Silver  55000

In [10]:
#Display furniture details which price is more than 25000.
df[df["Price"]>25000]

           Item        Material  Colour  Price
3          Sofa  StainlessSteel  Silver  55000
5  Dining Table        Aluminum  Golden  65000

In [11]:
#Display the furniture details price under 10000.
df[df["Price"]<10000]

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

In [12]:
dic1={"age":[24,25,25,27,30]}
s=pd.Series(dic1)
s

age    [24, 25, 25, 27, 30]
dtype: object